<div class="fullbg">

  <mat-card class="example-form mx-auto">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Consulta Diploma</mat-card-title>
      <mat-card-subtitle>Consulte diplomas emitidos pelo Centro Universitário do Araguaia</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayoutAlign="center center">

        <a href="http://univar.edu.br" target="_blank" rel="noopener noreferrer" class="mx-auto">
          <img src="/assets/images/univar-logo.png" class="logo">
        </a>

      </div>
      <!-- <p>46456fdf</p> -->

      <mat-form-field appearance="outline" class="example-full-width" *ngIf="!searchSuccess">
        <mat-label>Código do diploma</mat-label>
        <input matInput placeholder="Ex. 46456fsdf" [(ngModel)]="busca" #search
          (keyup.enter)="busca === '' ? openSnackBar('Favor digitar um código','Ok') : searchDiploma(busca)">
        <mat-icon matSuffix>school</mat-icon>
      </mat-form-field>

      <div *ngIf="mensagem" class="alert alert-warning">
        {{mensagem}}
      </div>

      <mat-spinner class="mx-auto" *ngIf="loading"></mat-spinner>


      <div *ngIf="!loading && diploma">
        <app-diploma [diploma]="diploma"></app-diploma>
      </div>

      <button mat-raised-button color="primary" *ngIf="!searchSuccess"
        (click)="busca === '' ? openSnackBar('Favor digitar um código','Ok') : searchDiploma(busca)">Buscar</button>
      <button mat-raised-button color="primary" *ngIf="searchSuccess" (click)="buscaOutro()">Buscar outro</button>
    </mat-card-content>
  </mat-card>
</div>