.fullbg {
  background-image: url('src/assets/images/bg-2.jpg');
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.example-card {
    max-width: 400px;
    margin: 0 auto;
  }

  .logo {
    max-width: 15em;
  }
  
  .example-header-image {
    background-image: url('/assets/images/univar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .example-form {
    min-width: 400px;
    max-width: 600px;
    width: 100%;
  }
  
  .example-full-width {
    margin-top: 1em;
    width: 100%;
  }