<div fxLayout="row wrap">

    <mat-form-field class="full-width">
        <input readonly matInput placeholder="Nome do aluno" [value]="diploma.nome">
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="10px">
        <div>
            <mat-form-field class="full-width">
                <input readonly matInput placeholder="CPF" [value]="diploma.cpf">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input readonly matInput placeholder="Código do diploma" [value]="diploma.diplomaId">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input readonly matInput placeholder="Código do curso" [value]="diploma.codEmecCurso">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input readonly matInput placeholder="Código da Instituição" [value]="diploma.codEmecIes">
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center center">
            <mat-card>
                <qr-code [value]="url" [size]="190"></qr-code>
            </mat-card>
        </div>
    </div>

    <mat-form-field class="full-width">
        <input readonly matInput placeholder="Código de expedição" [value]="diploma.codExp">
    </mat-form-field>

    <div fxLayout="row" fxFlex="100" fxLayoutGap="5px">
        <mat-form-field class="full-width">
            <input readonly matInput placeholder="Código de registro" [value]="diploma.codReg">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input readonly matInput placeholder="Data de ingreso" [value]="diploma.dataIngresso | date:'dd/MM/yyyy'">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutGap="5px">
        <mat-form-field class="full-width">
            <input readonly matInput placeholder="Data de conclusão"
                [value]="diploma.dataConclusao | date:'dd/MM/yyyy'">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input readonly matInput placeholder="Data de expedição"
                [value]="diploma.dataExpDiploma | date:'dd/MM/yyyy'">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutGap="5px">
        <mat-form-field class="full-width">
            <input readonly matInput placeholder="Data de registro"
                [value]="diploma.dataRegDiploma | date:'dd/MM/yyyy'">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input readonly matInput placeholder="Data de publicação"
                [value]="diploma.dataPubDiploma | date:'dd/MM/yyyy'">
        </mat-form-field>
    </div>
    <div fxLayout="column" class="mx-auto">

        <p class="mx-auto" style="font-size: 0.8em; margin-bottom: 1px;">Consulta gerada em
            {{hora | date:'dd/MM/yyyy - HH:mm:ss'}}</p>
        <p class="mx-auto" style="font-size: 0.8em;"><a href="http://univar.edu.br" target="_blank">Centro Universitário
                do
                Araguaia -
                UNIVAR</a></p>
    </div>
</div>